<html>
   <head>
      <title><TMPL_VAR NAME="TITLE"></title>
   </head>
   <body>

                  <!-- start of body text -->

<TMPL_VAR NAME="BODY">

                  <!-- end of body text -->

   </body>
</html>

